h3{
    text-transform: uppercase;
}
p{
    text-align: right;
    font-family: Arial;
}
#ONet{
    height: 600px;
    width: 100%;
}
.header{
    border-style: solid;
    background-image:url(https://farm8.staticflickr.com/7855/33607285688_efb4432fce_b.jpg);
}
.content{
    background-image:url(https://farm8.staticflickr.com/7855/33607285688_efb4432fce_b.jpg);
    height: 80%;
    width: 70%;
}
.footer{
    background-image:url(https://farm8.staticflickr.com/7855/33607285688_efb4432fce_b.jpg);
}