h3{
    text-transform: uppercase;
}
p{
    text-align: right;
    font-family: Arial;
}
#ONet{
    height: 600px;
    width: 100%;
}
.header{
    border-style: solid;
    background-color: red;
}
.content{
    background-color: red;
    height: 80%;
    width: 70%;
}
.footer{
    background-color: red;
}