ul{
    list-style:square;
}
li:hover::after{
    background-color:PaleGoldenRod;
    content:"  Pick me! Pick me!";
}

#Seong:active::after{
    background-color:#46c70b;
    content:"Epic Gamer Choice!";
}

#Maria:active::after{
    background-color:#46c70b;
    content:"Ok Boomer";
}

#Dorji:active::after{
    background-color:#46c70b;
    content:"So basically, Obamium";
}

#Andille:active::after{
    background-color:#46c70b;
    content:"Lit man, he once did meme review with elon musk in another dimension."
}

#Shakti:active::after{
    background-color:#46c70b;
    content:"Suprisingly, Shakti is russian, not asian.";
}